* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loginPage {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 350px;
  height: 350px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.text {
  margin-bottom: 10px;
}

.input {
  width: 350px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.inputFile {
  margin: 8px 0 20px 0;
}

.button {
  padding: 7px 30px;
  margin: 0 auto;
  display: block;
}

.navbar {
  height: 40px;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
}

.boldText {
  font-weight: bold;
}

.logout {
  color: #0088cc;
  text-decoration: none;
  margin-left: 50px;
}

.friends {
  width: 30%;
  height: 100%;
  background-color: white;
  height: 545px;
  margin-right: 5px;
}

.friend {
  height: 40px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.chatBody {
  display: flex;
  background-color: rgb(225, 225, 225);
  padding: 5px
}

.messageForm {
  width: 100%;
}

.messages {
  min-width: 300px;
  padding: 15px 20px;
  width: 98%;
  height: 500px;
  background-color: rgb(245, 245, 245);
  overflow-y: scroll;
  overflow-x: scroll;  
}

.myMessages {
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #7bbfe0;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 0; 
}

.friendMessages {
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}

.inputMessage {
  padding: 15px 10px;
  border: none;
  outline: none;
  width: 95%;
}

.imageButton {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.textarea {
  display: flex;

}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  cursor: pointer;
  background-color: rgb(235, 235, 235);
}



.checkbox-google {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 20px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  user-select: none;
}

.checkbox-google .checkbox-google-switch {
  display: inline-block;
  width: 36px;
  height: 14px;
  border-radius: 20px;
  position: relative;
  top: 6px;
  vertical-align: top;
  background: #9f9f9f;
  transition: .2s;
}

.checkbox-google .checkbox-google-switch:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -1px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: .15s;
}

.checkbox-google input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-google input[type=checkbox]:checked+.checkbox-google-switch {
  background: #9f9f9f;
}

.checkbox-google input[type=checkbox]:checked+.checkbox-google-switch:before {
  background: #fff;
  transform: translateX(18px);
}

/* Hover */
.checkbox-google input[type="checkbox"]:not(:disabled)+.checkbox-google-switch {
  cursor: pointer;
  border-color: rgba(0, 0, 0, .3);
}

/* Active/Focus */
.checkbox-google input[type="checkbox"]:not(:disabled):active+.checkbox-google-switch:before,
.checkbox-google input[type="checkbox"]:not(:disabled):focus+.checkbox-google-switch:before {
  animation: checkbox-active-on 0.5s forwards linear;
}

@keyframes checkbox-active-on {
  0% {
    box-shadow: 0 0 0 0 rgba(212, 212, 212, 0);
  }

  99% {
    box-shadow: 0 0 0 10px rgba(212, 212, 212, 0.5);
  }
}

.checkbox-google input[type="checkbox"]:not(:disabled):checked:active+.checkbox-google-switch:before,
.checkbox-google input[type="checkbox"]:not(:disabled):checked:focus+.checkbox-google-switch:before {
  animation: checkbox-active-off 0.5s forwards linear;
}

@keyframes checkbox-active-off {
  0% {
    box-shadow: 0 0 0 0 rgba(154, 190, 247, 0);
  }

  99% {
    box-shadow: 0 0 0 10px rgba(154, 190, 247, 0.5);
  }
}

/* Disabled */
.checkbox-google input[type=checkbox]:disabled+.checkbox-google-switch {
  filter: grayscale(60%);
  border-color: rgba(0, 0, 0, .1);
}

.checkbox-google input[type=checkbox]:disabled+.checkbox-google-switch:before {
  background: #eee;
}